.call-us {
  text-align: center;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


  &__title {
    font-size: 36px;
    font-weight: 900;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
  }

  &__link-btn {
    display: block;
    line-height: 38px;
    width: 209px;
    color: #fff;
    background: #FF5151;
    border-radius: 6px;
  }
}
