.how-it-works {
  background: #66CFCF;
  padding: 60px 0;

  &__inner {
    @media (max-width: 1199px) {
      flex-direction: column;
    }

    @media (max-width: 710px) {
      padding: 0;
    }

    z-index: 2;
    min-height: 870px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title-cont {
    @media (max-width: 710px) {
      padding-left: 10px;
    }
  }

  &__title {
    @media (max-width: 710px) {
      font-size: 60px;
    }

    font-size: 80px;
    line-height: 100px;
    color: #ffffff;
    font-weight: 900;
    max-width: 570px;
  }

  &__link-btn {
    margin-top: 70px;
    border: 1px solid #fff;
    color: #fff;
  }

  &__cards-cont {
    @media (max-width: 1199px) {
      margin-top: 100px;
    }

    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    @media (max-width: 710px) {
      margin-bottom: 50px;
      margin-left: 0px;
      width: 70%;
    }

    &:nth-child(even) {
      @media (max-width: 710px) {
        flex-direction: row;
        text-align: left;
        margin-right: 0;
        margin-bottom: 50px;
      }

      flex-direction: row-reverse;
      text-align: right;
      margin: 0 120px 0 0;
    }

    display: flex;
    margin-left: 115px;
  }

}

.how-it-works-card {
  &__inner-cont {
    margin: 0 15px 15px 15px;
    transform: translateY(-15px);
  }

  &__icon {
    transform: translateY(-35px);
    align-self: flex-start;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__inner-cont:last-child {
    @media (max-width: 710px) {
      margin: 0 15px 15px 15px;
    }

    margin-left: 255px;
  }

  &__arrow {
    min-width: 255px;
    min-height: 190px;
    background-size: 100%;

    @media (max-width: 710px) {
      display: none;
    }

    &--right {
      background: url(/src/img/connection-arrow-right.svg) no-repeat;
    }
    &--left {
      background: url(/src/img/connection-arrow-left.svg) no-repeat;
    }
  }
}
