.main-footer {
  background: #0B2A37;

  @media (max-width: 870px) {
    .main-footer_cont {
      flex-direction: column-reverse;
      height: auto;
    }

    .main-footer__flex-cont {
      margin-top: 20px;
      width: 100%;
      justify-content: space-around;
    }

    .main-footer__follow-cont {
      display: flex;
      margin: 20px 0;
      flex-direction: row;
    }

    .main-footer__logo {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  @media (max-width: 710px) {
    .main-footer__item {
      text-align: center;
      font-size: 12px;
    }

    .main-footer__logo img {
      max-width: 200px;
    }

    .main-footer__flex-cont {
      padding: 0 10px;
    }
  }


  &_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 320px;
    color: #fff;
  }

  &__flex-cont {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  &__item__par,
  .main-footer__follow__subtitle {
    color: #CED4D7;
  }

  &__item__title,
  .main-footer__logo {
    margin-bottom: 34px;
  }

  &__follow-cont {
    margin-left: 100px;
  }

  &__follow__subtitle {
    font-size: 14px;
    font-weight: 400;
  }

  &__follow__title {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
  }

  &__follow-flex-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__follow-img-cont {
    display: flex;
  }

  &__follow__icon {
    padding-left: 10px;
    cursor: pointer;
  }

  &__item__par {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
