.specialists {
  text-align: center;
  margin: 90px 0 140px 0;

  &__content {
    @media (max-width: 710px) {
      flex-wrap: wrap;
      margin-top: 20px;
    }

    margin-top: 66px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  &__card {
    @media (max-width: 710px) {
      margin-top: 40px;
    }

    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.specialists-card {
  &__icon {
    width: fit-content;
    align-self: center;
  }

  &__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 35px;
  }

  &__par {
    margin: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}
